<form action="" [formGroup]="cadastroForm" novalidate (ngSubmit)="cadastrar()">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Cadastro</mat-card-title>
      <mat-card-subtitle>validação cep com webservice</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content
      ><div class="row">
        <div class="col">
          <mat-form-field class="form-min-width">
            <mat-label
              ><mat-icon class="material-icons md-24">language</mat-icon
              ><strong>CEP</strong></mat-label
            >
            <input
              type="text"
              matInput
              id="cep"
              placeholder="Digite o CEP"
              formControlName="cep"
              name="cep"
            />
            <mat-error *ngIf=""></mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="form-min-width">
            <mat-label
              ><mat-icon class="material-icons md-24">home</mat-icon
              ><strong>Logradouro</strong></mat-label
            >
            <input
              type="text"
              matInput
              id="logradouro"
              placeholder="Digite o Logradouro"
              formControlName="logradouro"
              name="logradouro"
            />
            <mat-error *ngIf=""></mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="form-min-width">
            <mat-label
              ><mat-icon class="material-icons md-24">home</mat-icon
              ><strong>Complemento</strong></mat-label
            >
            <input
              type="text"
              matInput
              id="complemento"
              placeholder="Digite o Complemento"
              formControlName="complemento"
              name="complemento"
            />
            <mat-error *ngIf=""></mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="form-min-width">
            <mat-label
              ><mat-icon class="material-icons md-24">home</mat-icon
              ><strong>Bairro</strong></mat-label
            >
            <input
              type="text"
              matInput
              id="bairro"
              placeholder="Digite o Bairro"
              formControlName="bairro"
              name="bairro"
            />
            <mat-error *ngIf=""></mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col"></div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Cadastrar</button>
    </mat-card-actions>
  </mat-card>
</form>
